html {
  font-size: 14px;
}

/*new*/
.jumbotron-font {
    font-family: 'Orbitron', sans-serif;
    font-size: 1.35rem;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.jumbotron-font-2 {
    font-family: 'Orbitron', sans-serif;
    font-size: 1.25rem;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.warning-soft-gradient {
    /* Customize the colors and direction here */
    background-image: linear-gradient(to bottom left, #cc9900, #ffc107);
}


@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}