@model JumbotronEventFinder.Models.Purchase

<h2>Confirm Purchase</h2>

<p><strong>Show Title: </strong></p>
<p><strong></strong></p>
<p><strong></strong></p>
<p><strong></strong></p>
<p><strong></strong></p>
<p><strong></strong></p>