@model JumbotronEventFinder.Models.Purchase

@{
    ViewData["Title"] = "Purchases";
}

<h2>Purchase Tickets for @ViewBag.ShowTitle</h2>

<hr />
<div class="row bg-secondary-subtle">
    <div class="col-md-4">
        <form asp-controller="Purchase" asp-action="Index" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ShowId" />
            <input type="hidden" asp-for="Show.Title" value="@Model.Show?.Title" />
            <div class="mb-3">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="TicketSales" class="control-label"></label>
                <input asp-for="TicketSales" class="form-control" />
                <span asp-validation-for="TicketSales" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="PaymentType" class="control-label"></label>
                <select asp-for="PaymentType" class="form-control" asp-items="ViewBag.CategoryId">
                    <option value="CreditCard">Credit Card</option>
                    <option value="DebitCard">Debit Card</option>
                </select>
                <span asp-validation-for="PaymentType" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="CardNumber" class="control-label"></label>
                <input asp-for="CardNumber" class="form-control" />
                <span asp-validation-for="CardNumber" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="CardNumber" class="control-label"></label>
                <input asp-for="CardNumber" class="form-control" />
                <span asp-validation-for="CardNumber" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="CardNumber" class="control-label"></label>
                <input asp-for="CardNumber" class="form-control" />
                <span asp-validation-for="CardNumber" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <input type="submit" value="Review Purchase" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Home" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}