<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - JumbotronEventFinder</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/JumbotronEventFinder.styles.css" asp-append-version="true" />
    <style>
        .fakeimg {
            height: 200px;
            background: #aaa;
        }
    </style>
</head>
<body class="bg-info-subtle">
    <div class="container-sm text-center text-info bg-secondary-subtle">
        @RenderBody()
    </div>    
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-secondary bg-gradient bg-opacity-75 border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand h4 text-info pt-2" asp-area="" asp-controller="Home" asp-action="Index">Jumbotron Event Finder</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="btn text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn nav-link text-dark" asp-area="" asp-controller="Events" asp-action="Events">Events</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn disabled nav-link text-dark" asp-area="" asp-controller="Events" asp-action="Owners">Owners</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-sm">
        <main role="main" class="p-3 text-center border border-black bg-secondary-subtle">
            @*All images link to event*@
            <div class="container-sm row">
                <div class="col-sm-3 fakeimg border border-black">Image</div>
                <div class="col-sm-3">Random text</div>
                <div class="col-sm-3">Random text</div>
                <div class="col-sm-3 fakeimg border border-black">Image</div>
            </div>
            @* <div class="row">
                <div class="fakeimg">Image</div>
                <div class="col border border-black">Image</div>
                <div class="col border border-black">Image</div>
            </div> *@
        </main>
    </div>
            

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - JumbotronEventFinder 
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
